@use 'styles/variables';

.list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 8px;

    &-item {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 44px;
        padding: 12px 18px;

        border-radius: 100px;
        background-color: variables.$equipment-color;
    }

    &-icon {
        margin-right: 8px;
        fill: transparent;
        stroke: variables.$primary-color;
    }

    &-details {
        display: flex;
        gap: 8px;
    }
}