@use 'styles/variables';

.filter {
    margin-top: 32px;

    &-title {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        color: rgba(16, 24, 40, 0.6);
    }

    &-subtitle {
        padding-bottom: 24px;

        border-bottom: solid 1px rgba(16, 24, 40, 0.1);
        
        font-size: 20px;
        font-weight: 600;
    }

    &-equipment {
        margin-top: 14px;
    }

    &-type {
        margin-top: 32px;
        margin-bottom: 64px;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px 10px;
    
        margin-top: 24px;

        &-transparent {
             display: flex;
            flex-wrap: wrap;
            gap: 8px 10px;
        
            margin-top: 24px;

            fill: transparent;
        }
    }
    
    &-btn {
        width: 173px;
        height: 56px;
    
        padding: 16px 44px;
        background-color: variables.$active-color;
        border: none;
        border-radius: 28px;

        cursor: pointer;
    
        font-family: variables.$primary-font-family;
        font-weight: 500;
        font-size: 16px;
        color: #ffffff;
    
        transition: background-color 250ms variables.$timing-function;
    
        &:hover {
            background-color: variables.$hover-color;
    
            transition: background-color 250ms variables.$timing-function;
        } 
    }
}