@use 'styles/variables';

.wrapper {
    position: relative;
    width: 100%;

    z-index: 99999;
}

.input {
    box-sizing: border-box;
    width: 400px;
    height: 56px;
    border-radius: 10px;
    padding: 18px;
    background-color: variables.$inputs-color;
    outline: none;
    border: none;
  
    font-weight: 500;
    font-size: 18px;
    color: variables.$primary-color;

  
    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
    }
}

.icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

    stroke: rgba(16, 24, 40, 0.6);
    fill: transparent;
}